body{
    background-color: green;
}
h1, ul, li, ol{
    color: azure;
    text-align: center;
    font-family: "Comic Sans MS", sans-serif;
}
img {
    display: block;
    margin: 0 auto;
    width: 50%;  /* Example width */
    border: solid white 4px;
  }
  li {
    color: azure;
    font-size: 30px;
  }
